<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.xiyou.shortrent.dao.HouseMapper">
  <resultMap id="BaseResultMap" type="edu.xiyou.shortrent.model.House">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="owerId" jdbcType="INTEGER" property="owerid" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="houseType" jdbcType="SMALLINT" property="housetype" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="area" jdbcType="INTEGER" property="area" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="imagePath" jdbcType="VARCHAR" property="imagepath" />
    <result column="furniture" jdbcType="VARCHAR" property="furniture" />
    <result column="online" jdbcType="SMALLINT" property="online" />
    <result column="checked" jdbcType="SMALLINT" property="checked" />
    <result column="rented" jdbcType="SMALLINT" property="rented" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="edu.xiyou.shortrent.model.House">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, owerId, mobile, tel, houseType, address, area, price, imagePath, furniture, online, 
    checked, rented, createTime, updateTime
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>

  <select id="selectBySelective" parameterType="edu.xiyou.shortrent.model.House" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from houses
    <where>
      <if test="owerid != null">
        owerId = #{owerid,jdbcType=INTEGER}
      </if>
      <if test="mobile != null">
        and mobile = #{mobile,jdbcType=VARCHAR}
      </if>
      <if test="tel != null">
        and tel = #{tel,jdbcType=VARCHAR}
      </if>
      <if test="housetype != null">
        and houseType = #{housetype,jdbcType=SMALLINT}
      </if>
      <if test="address != null">
        and address = #{address,jdbcType=VARCHAR}
      </if>
      <if test="area != null">
        and area = #{area,jdbcType=INTEGER}
      </if>
      <if test="price != null">
        and price = #{price,jdbcType=INTEGER}
      </if>
      <if test="imagepath != null">
        and imagePath = #{imagepath,jdbcType=VARCHAR}
      </if>
      <if test="furniture != null">
        and furniture = #{furniture,jdbcType=VARCHAR}
      </if>
      <if test="online != null">
        and online = #{online,jdbcType=SMALLINT}
      </if>
      <if test="checked != null">
        and checked = #{checked,jdbcType=SMALLINT}
      </if>
      <if test="rented != null">
        and rented = #{rented,jdbcType=SMALLINT}
      </if>
      <if test="createtime != null">
        and createTime = #{createtime,jdbcType=TIMESTAMP}
      </if>
      <if test="updatetime != null">
        and updateTime = #{updatetime,jdbcType=TIMESTAMP}
      </if>
      <if test="content != null">
        and content = #{content,jdbcType=LONGVARCHAR}
      </if>
    </where>
  </select>
  <insert id="insertSelective" parameterType="edu.xiyou.shortrent.model.House">
    insert into houses
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="owerid != null">
        owerId,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="housetype != null">
        houseType,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="imagepath != null">
        imagePath,
      </if>
      <if test="furniture != null">
        furniture,
      </if>
      <if test="online != null">
        online,
      </if>
      <if test="checked != null">
        checked,
      </if>
      <if test="rented != null">
        rented,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="owerid != null">
        #{owerid,jdbcType=INTEGER},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="housetype != null">
        #{housetype,jdbcType=SMALLINT},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=INTEGER},
      </if>
      <if test="imagepath != null">
        #{imagepath,jdbcType=VARCHAR},
      </if>
      <if test="furniture != null">
        #{furniture,jdbcType=VARCHAR},
      </if>
      <if test="online != null">
        #{online,jdbcType=SMALLINT},
      </if>
      <if test="checked != null">
        #{checked,jdbcType=SMALLINT},
      </if>
      <if test="rented != null">
        #{rented,jdbcType=SMALLINT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.xiyou.shortrent.model.House">
    update houses
    <set>
      <if test="owerid != null">
        owerId = #{owerid,jdbcType=INTEGER},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="housetype != null">
        houseType = #{housetype,jdbcType=SMALLINT},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="imagepath != null">
        imagePath = #{imagepath,jdbcType=VARCHAR},
      </if>
      <if test="furniture != null">
        furniture = #{furniture,jdbcType=VARCHAR},
      </if>
      <if test="online != null">
        online = #{online,jdbcType=SMALLINT},
      </if>
      <if test="checked != null">
        checked = #{checked,jdbcType=SMALLINT},
      </if>
      <if test="rented != null">
        rented = #{rented,jdbcType=SMALLINT},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from houses
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByHouseVo" parameterType="edu.xiyou.shortrent.model.House" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from houses
    <where>
      <if test="maxArea != null">
        area <![CDATA[<=]]> #{maxArea,jdbcType=INTEGER}
      </if>
      <if test="minArea != null">
        area <![CDATA[>=]]> #{minArea,jdbcType=INTEGER}
      </if>
      <if test="maxPrice != null">
        price <![CDATA[<=]]> #{maxPrice,jdbcType=INTEGER}
      </if>
      <if test="minPrice != null">
        price <![CDATA[>=]]> #{minPrice,jdbcType=INTEGER}
      </if>
      <if test="addressContain != null and addressContain != ''">
        locate(address,#{addressContain,jdbcType=VARCHAR}) <![CDATA[>]]> 0
      </if>
      <if test="houseType != null">
        houseType = #{houseType,jdbcType=SMALLINT}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from houses
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.xiyou.shortrent.model.House">
    insert into houses (id, owerId, mobile, 
      tel, houseType, address, 
      area, price, imagePath, 
      furniture, online, checked, 
      rented, createTime, updateTime, 
      content)
    values (#{id,jdbcType=INTEGER}, #{owerid,jdbcType=INTEGER}, #{mobile,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR}, #{housetype,jdbcType=SMALLINT}, #{address,jdbcType=VARCHAR}, 
      #{area,jdbcType=INTEGER}, #{price,jdbcType=INTEGER}, #{imagepath,jdbcType=VARCHAR}, 
      #{furniture,jdbcType=VARCHAR}, #{online,jdbcType=SMALLINT}, #{checked,jdbcType=SMALLINT}, 
      #{rented,jdbcType=SMALLINT}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>


  <update id="updateByPrimaryKeyWithBLOBs" parameterType="edu.xiyou.shortrent.model.House">
    update houses
    set owerId = #{owerid,jdbcType=INTEGER},
      mobile = #{mobile,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      houseType = #{housetype,jdbcType=SMALLINT},
      address = #{address,jdbcType=VARCHAR},
      area = #{area,jdbcType=INTEGER},
      price = #{price,jdbcType=INTEGER},
      imagePath = #{imagepath,jdbcType=VARCHAR},
      furniture = #{furniture,jdbcType=VARCHAR},
      online = #{online,jdbcType=SMALLINT},
      checked = #{checked,jdbcType=SMALLINT},
      rented = #{rented,jdbcType=SMALLINT},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.xiyou.shortrent.model.House">
    update houses
    set owerId = #{owerid,jdbcType=INTEGER},
      mobile = #{mobile,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      houseType = #{housetype,jdbcType=SMALLINT},
      address = #{address,jdbcType=VARCHAR},
      area = #{area,jdbcType=INTEGER},
      price = #{price,jdbcType=INTEGER},
      imagePath = #{imagepath,jdbcType=VARCHAR},
      furniture = #{furniture,jdbcType=VARCHAR},
      online = #{online,jdbcType=SMALLINT},
      checked = #{checked,jdbcType=SMALLINT},
      rented = #{rented,jdbcType=SMALLINT},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>