<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.xiyou.shortrent.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="edu.xiyou.shortrent.model.Order">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="hourseId" jdbcType="INTEGER" property="hourseid" />
    <result column="owerId" jdbcType="INTEGER" property="owerid" />
    <result column="customer" jdbcType="INTEGER" property="customer" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="beginTime" jdbcType="TIMESTAMP" property="begintime" />
    <result column="endTime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="terminate" jdbcType="SMALLINT" property="terminate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, hourseId, owerId, customer, amount, beginTime, endTime, terminate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orders
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orders
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.xiyou.shortrent.model.Order">
    insert into orders (id, hourseId, owerId, 
      customer, amount, beginTime, 
      endTime, terminate)
    values (#{id,jdbcType=INTEGER}, #{hourseid,jdbcType=INTEGER}, #{owerid,jdbcType=INTEGER}, 
      #{customer,jdbcType=INTEGER}, #{amount,jdbcType=INTEGER}, #{begintime,jdbcType=TIMESTAMP}, 
      #{endtime,jdbcType=TIMESTAMP}, #{terminate,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="edu.xiyou.shortrent.model.Order">
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="hourseid != null">
        hourseId,
      </if>
      <if test="owerid != null">
        owerId,
      </if>
      <if test="customer != null">
        customer,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="begintime != null">
        beginTime,
      </if>
      <if test="endtime != null">
        endTime,
      </if>
      <if test="terminate != null">
        terminate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hourseid != null">
        #{hourseid,jdbcType=INTEGER},
      </if>
      <if test="owerid != null">
        #{owerid,jdbcType=INTEGER},
      </if>
      <if test="customer != null">
        #{customer,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="begintime != null">
        #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="terminate != null">
        #{terminate,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.xiyou.shortrent.model.Order">
    update orders
    <set>
      <if test="hourseid != null">
        hourseId = #{hourseid,jdbcType=INTEGER},
      </if>
      <if test="owerid != null">
        owerId = #{owerid,jdbcType=INTEGER},
      </if>
      <if test="customer != null">
        customer = #{customer,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="begintime != null">
        beginTime = #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        endTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="terminate != null">
        terminate = #{terminate,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.xiyou.shortrent.model.Order">
    update orders
    set hourseId = #{hourseid,jdbcType=INTEGER},
      owerId = #{owerid,jdbcType=INTEGER},
      customer = #{customer,jdbcType=INTEGER},
      amount = #{amount,jdbcType=INTEGER},
      beginTime = #{begintime,jdbcType=TIMESTAMP},
      endTime = #{endtime,jdbcType=TIMESTAMP},
      terminate = #{terminate,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>